*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display{
    width: 100%;
    height: 30%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: flex-end;
}
.display div{
    margin: 20px;
}
.display .previousScreen{
    font-size: 30px;
}
.display .currentScreen{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.6);
}


.calculator{
    width: 500px;
    height: 700px;
}

.buttons{
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
}
button{
    font-size: 30px;
}

.spantwo{
    grid-column: span 2;
}